:root {
  --index: calc(1vw + 1vh);
}

.wrapper {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: min-content auto;
  min-height: 100vh;
  grid-template-areas:
    'aside header'
    'aside main';
}

.aside,
.main {
  height: 100%;
  padding: 10px;
}

.main {
  /* background-image: linear-gradient(
    268.35deg,
    rgba(255, 70, 70, 0.99) 3.47%,
    rgba(255, 114, 70, 0.99) 60.18%
  ); */
  grid-area: main;
  background-image: linear-gradient(
    268.35deg,
    rgba(255, 70, 70, 0.99) 3.47%,
    rgba(255, 114, 70, 0.99) 60.18%,
    rgba(0, 0, 0, 0.8) 94.5%
  );
}

.aside {
  grid-area: aside;
  grid-row: span 2;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: rgb(36, 35, 35);
  color: white;
}

.header {
  grid-area: header;
  /* position: relative; */
  justify-content: flex-end;
  align-items: center;
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  background-color: rgb(69, 59, 59);
}

nav {
  display: flex;
  flex-direction: column;
  gap: calc(var(--index) * 3);
}

nav a {
  /* text-transform: uppercase; */
  text-decoration: none;
  font-size: calc(var(--index) * 1.15);
  width: min-content;

  line-height: calc(var(--index) * 1.35);
  padding-bottom: 5px;
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 0, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

nav a:link,
nav a:visited {
  color: white;
}

nav a:hover {
  background-size: 0 3px, 100% 3px;
}

nav a.active {
  color: rgb(146, 148, 248);
}

nav a:active {
  color: bisque;
}

.enterBtn,
.register {
  border-radius: 8px;
  padding: 10px 20px;
  /* height: 40px; */
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1)
  );
  color: white;
}

.enterBtn:hover,
.register:hover {
  cursor: pointer;
}

@media screen and (width >= 960px) {
  nav {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
  }
}

@media screen and (width < 960px) {
  .wrapper {
    display: grid;
    grid-template-columns: calc(100vw - 170px) 170px;
    grid-template-rows: min-content auto; /*150px ли?*/
    min-height: 100vh;
    grid-template-areas:
      'aside header'
      'main main';
  }

  .aside {
    grid-row: span 1;
  }

  .header {
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    gap: 10px;
    background-color: rgb(36, 35, 35);
    color: white;
  }

  .enterBtn,
  .register {
    background: linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
    color: white;
    text-transform: uppercase;
    padding: 5px 10px;
  }

  nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  nav a {
    font-size: 15px;
  }

  .main {
    grid-column: span 2;
    padding: 0;
  }
}
